/* body, html {
    margin: 0;
    padding: 0;
    font-family: john-doe, sans-serif;
    background: url('../assets/img/bg.webp') no-repeat center center;
    background-size: cover;
    font-weight: 400;
    font-style: normal;
  } */